# annotation-tool
# supervisely==6.73.486

# project-dataset
# supervisely==6.73.486

matplotlib>=3.10.0, <4.0.0
ruamel.yaml>=0.18.0
PyYAML>=6.0
git+https://github.com/supervisely/supervisely.git@upgrade-protobuf
