<div id="nn-image-labeling">
    <div v-if="context.userId !== data.ownerId" style="color: red;">
        You don't have permissions to open this application session.
    </div>

    <sly-style>
        #nn-image-labeling .el-checkbox.small .el-checkbox__inner {
        height: 14px;
        width: 14px;
        }

        #nn-image-labeling .el-tabs.small .el-tabs__item {
        font-size: 10px;
        font-weight: 500;
        height: 30px;
        line-height: 30px;
        }
    </sly-style>

    <div class="ml5 mr10" v-if="context.userId === data.ownerId">
        <div v-if="data.connected === false">
            <sly-field title="Connect to running NN"
                       description="Define session (task id) with deployed model">
                <sly-icon slot="icon" :options="{ color: '#2cd26e', bgColor: '#d8f8e7', rounded: false }">
                    <i class="zmdi zmdi-compass"></i>
                </sly-icon>
                <div class="fflex">
                    <sly-select-app-session :group-id="data.teamId"
                                            :app-session-id.sync="state.sessionId"
                                            :options="data.ssOptions">
                    </sly-select-app-session>
                    <el-button class="ml5"
                               type="primary"
                               size="mini"
                               :disabled="!state.sessionId"
                               @click="command('connect')"
                    >
                        <i class="zmdi zmdi-refresh mr5"></i> Connect
                    </el-button>
                </div>
            </sly-field>
            <hr style="border: 0; border-top: 1px solid rgba(0,0,0,.12); margin-bottom: 15px;"/>
            <sly-notification
                    v-if="data.connectionError.length > 0"
                    :options="{'name': 'Connection Error', 'type': 'error'}"
                    :content="data.connectionError">
            </sly-notification>
        </div>

        <div v-if="data.connected === true">
            <div><b>ACTIONS:</b></div>
            <div class="fflex" style="justify-content: space-between">
                <div>
                    <el-button type="success" size="mini" class="mt5" style="margin-bottom: 15px;"
                               :disabled="(state.classes.filter(Boolean).length === 0 &&
                                          state.tags.filter(Boolean).length === 0) ||
                                          (state.processing === true)"
                               :loading="state.processing"
                               @click="state.processing = true; command('inference')">
                        <span v-if="!context.figureId"><i
                                class="zmdi zmdi-fire mr5"></i>Apply model to image (ctrl+m)</span>
                        <span v-if="context.figureId"><i
                                class="zmdi zmdi-fire mr5"></i>Apply model to ROI (ctrl+m)</span>
                    </el-button>

                    </el-button>
                    <el-button size="mini" class="mt5" style="margin-bottom: 15px;"
                               :disabled="!data.rollbackIds.includes(context.imageId) ||
                                          state.processing === true"
                               :loading="state.processing"
                               @click="state.processing = true; command('undo')"
                    >
                        <i class="zmdi zmdi-undo mr5"></i>Undo
                    </el-button>
                </div>
                <div>
                    <el-button type="warning" size="mini" class="mt5" style="margin-bottom: 15px;"
                               @click="command('disconnect')"
                    >
                        <i class="zmdi zmdi-close mr5"></i>Disconnect
                    </el-button>
                </div>

            </div>

            <div><b>SETTINGS:</b></div>
            <el-tabs class="small" v-model="state.tabName">
                <el-tab-pane label="INFO" name="info">
                    <span slot="label"><i class="zmdi zmdi-info mr5"></i>INFO</span>
                    <div v-for="v,k in data.info" class="mb5" style="word-break: break-all;">
                        <b style="color: #777777;">{{k}}</b>: {{v}}
                    </div>
                </el-tab-pane>
                <el-tab-pane label="CLASSES" name="classes">
                    <span slot="label"><i class="zmdi zmdi-shape mr5"></i>CLASSES</span>
                    <div v-if="state.classesInfo.length === 0">Model does not produce classes</div>
                    <div v-if="state.classesInfo.length > 0">
                        <div class="mb10">Choose model classes that should be kept, other classes will be skipped</div>
                        <div class="fflex">
                            <el-button type="text" size="mini" @click="command('select_all_classes');">
                                <i class="zmdi zmdi-check-all"></i> Select all
                            </el-button>
                            <el-button type="text" size="mini" @click="command('deselect_all_classes');"
                                       style="margin-left: 25px;">
                                <i class="zmdi zmdi-square-o"></i> Deselect all
                            </el-button>
                        </div>
                        <table>
                            <tbody>
                            <tr v-for="(objClass, index) in state.classesInfo">
                                <td>
                                    <el-checkbox class="small" v-model="state.classes[index]"></el-checkbox>
                                </td>
                                <td><i class="zmdi zmdi-circle ml5 mr5" :style="{color: objClass.color}"></i></td>
                                <td><b style="color: #777777">{{objClass.title}}</b></td>
                                <td><span class="ml5">{{objClass.shape}}</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="TAGS" name="tags">
                    <span slot="label"><i class="zmdi zmdi-label mr5"></i>TAGS</span>
                    <div v-if="state.tagsInfo.length === 0">Model does not produce tags</div>
                    <div v-if="state.tagsInfo.length > 0">
                        <div class="mb10">Choose model tags that should be kept, other tags will be skipped</div>
                        <div class="fflex">
                            <el-button type="text" size="mini" @click="command('select_all_tags');">
                                <i class="zmdi zmdi-check-all"></i> Select all
                            </el-button>
                            <el-button type="text" size="mini" @click="command('deselect_all_tags');"
                                       style="margin-left: 25px;">
                                <i class="zmdi zmdi-square-o"></i> Deselect all
                            </el-button>
                        </div>
                        <table>
                            <tbody>
                            <tr v-for="(tagMeta, index) in state.tagsInfo">
                                <td>
                                    <el-checkbox class="small" v-model="state.tags[index]"></el-checkbox>
                                </td>
                                <td><i class="zmdi zmdi-label ml5 mr5" :style="{color: tagMeta.color}"></i></td>
                                <td><b style="color: #777777">{{tagMeta.name}}</b></td>
                                <td><span class="ml5">{{tagMeta['value_type']}}</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="INFERENCE" name="inference">
                    <span slot="label"><i class="zmdi zmdi-settings mr5"></i></i>INFERENCE</span>
                    <div class="mb15">
                        <div><b>Class/tag name suffix</b></div>
                        <div>Add suffix to model class/tag name if it has conflicts with existing one</div>
                        <el-input placeholder="Please input" size="mini" v-model="state.suffix"></el-input>
                    </div>

                    <div class="mb15">
                        <div><b>How to add predictions</b></div>
                        <el-select v-model="state.addMode" size="mini">
                            <el-option key="merge" label="merge" value="merge"></el-option>
                            <el-option key="replace" label="replace" value="replace"></el-option>
                        </el-select>
                    </div>


                    <sly-field title="Model settings"
                               description="Model specific inference settings in YAML format">
                        <sly-editor v-model="state.modelSettings"
                                    :options="{height: '200px', mode: 'ace/mode/yaml'}"></sly-editor>
                    </sly-field>

                    <sly-field title="Application settings"
                               description="Application specific inference configuration">
                        <el-select v-model="state.appSettings">
                            <el-option key="imageOrRoi" label="full image / object area" value="imageOrRoi"></el-option>
                            <el-option key="slidingWindow" label="sliding window" value="slidingWindow"></el-option>
                        </el-select>

                        <div v-if="state.appSettings === 'slidingWindow'">
                            <sly-field title="Sliding windows settings"
                                       subtitle="Configure sliding windows parameters"
                                       style="min-width: 310px; max-width: 310px;">
                                <div><b>Window height</b></div>
                                <el-input-number class="mt5" v-model="state.windowHeight" :min="1"
                                                 :max="10000"></el-input-number>
                                <span class="ml10" style="color: gray">pixels</span>
                                <div class="mt15"><b>Window width</b></div>
                                <el-input-number class="mt5" v-model="state.windowWidth" :min="1"
                                                 :max="10000"></el-input-number>
                                <span class="ml10" style="color: gray">pixels</span>
                                <div class="mt15"><b>Vertical overlap (y axis)</b></div>
                                <el-input-number class="mt5" v-model="state.overlapY" :min="1"
                                                 :max="10000"></el-input-number>
                                <span class="ml10" style="color: gray">pixels</span>
                                <div class="mt15"><b>Horizontal overlap (x axis)</b></div>
                                <el-input-number class="mt5" v-model="state.overlapX" :min="1"
                                                 :max="10000"></el-input-number>
                                <span class="ml10" style="color: gray">pixels</span>
                                <sly-field style="margin-top: 15px;" title="Border strategy">
                                    <el-radio-group class="fflex"
                                                    v-model="state.borderStrategy"
                                                    style="flex-direction: column; align-items: flex-start">
                                        <sly-field class="field-radio"
                                                   title="Shift window"
                                                   description="Window is shifted to fit into image">
                                            <el-radio label="shift_window">
                                            </el-radio>
                                        </sly-field>
                                        <sly-field class="field-radio"
                                                   title="Add padding"
                                                   description="Pad image at the bottom right">
                                            <el-radio style="margin-left: 0" label="add_padding">
                                            </el-radio>
                                        </sly-field>
                                        <sly-field class="field-radio"
                                                   title="Change size"
                                                   description="Resize window without keeping aspect ratio">
                                            <el-radio style="margin-left: 0" label="change_size">
                                            </el-radio>
                                        </sly-field>
                                    </el-radio-group>
                                </sly-field>
                                <div class="fflex align-start">
                                    <el-checkbox v-model="state.debugSlidingWindow" class="mt10 mr10">
                                    </el-checkbox>
                                    <sly-field class="mt20"
                                               title="visualize sliding windows"
                                               description="all sliding windows will be added as rectangles of class 'sliding window'">
                                    </sly-field>
                                </div>
                            </sly-field>
                        </div>
                    </sly-field>
                </el-tab-pane>
            </el-tabs>
        </div>
    </div>
</div>