<div id="nn-image-labeling">
    <div v-if="context.userId !== data.ownerId" style="color: red;">
        {{context}}
        You don't have permissions to open this application session.
    </div>

    <sly-style>
        #nn-image-labeling .el-checkbox.small .el-checkbox__inner {
        height: 14px;
        width: 14px;
        }

        #nn-image-labeling .el-tabs.small .el-tabs__item {
        font-size: 10px;
        font-weight: 500;
        height: 30px;
        line-height: 30px;
        }
    </sly-style>

    <div class="ml5 mr10" v-if="context.userId === data.ownerId">
        <div v-if="data.connected === false">
            <sly-field title="Connect to running NN"
                       description="Define session (task id) with deployed model">
                <sly-icon slot="icon" :options="{ color: '#2cd26e', bgColor: '#d8f8e7', rounded: false }">
                    <i class="zmdi zmdi-compass"></i>
                </sly-icon>
                <div class="fflex">
                    <el-input placeholder="Please input session id" size="mini" v-model="state.sessionId"></el-input>
                    <el-button class="ml5"
                               type="primary"
                               size="mini"
                               :disabled="state.sessionId===''"
                               @click="command('get_model_info')"
                    >
                        <i class="zmdi zmdi-refresh mr5"></i> Connect
                    </el-button>
                </div>
            </sly-field>
            <hr style="border: 0; border-top: 1px solid rgba(0,0,0,.12); margin-bottom: 15px;"/>
            <sly-notification
                    v-if="data.connectionError.length > 0"
                    :options="{'name': 'Connection Error', 'type': 'error'}"
                    :content="data.connectionError">
            </sly-notification>
        </div>

        <div v-if="data.connected === true">
            <div><b>ACTIONS:</b></div>
            <div class="fflex" style="justify-content: space-between">
                <div>
                    <el-button type="success" size="mini" class="mt5" style="margin-bottom: 15px;"
                               :disabled="data.classes.length === 0 && data.tags.length === 0"
                               @click="command('inference')"
                    >
                        <i class="zmdi zmdi-fire mr5"></i>Apply model
                    </el-button>
                    <el-button size="mini" class="mt5" style="margin-bottom: 15px;"
                               :disabled="!data.rollbackIds.includes(context.imageId)"
                               @click="command('rollback')"
                    >
                        <i class="zmdi zmdi-undo mr5"></i>Rollback
                    </el-button>
                </div>
                <div>
                    <el-button type="warning" size="mini" class="mt5" style="margin-bottom: 15px;"
                               @click="command('disconnect')"
                    >
                        <i class="zmdi zmdi-close mr5"></i>Disconnect
                    </el-button>
                </div>

            </div>

            <div><b>SETTINGS:</b></div>
            <el-tabs class="small" v-model="state.tabName">
                <el-tab-pane label="INFO" name="info">
                    <span slot="label"><i class="zmdi zmdi-info mr5"></i>INFO</span>
                    <div v-for="v,k in data.info" class="mb5">
                        <b style="color: #777777;">{{k}}</b>: {{v}}
                    </div>
                </el-tab-pane>
                <el-tab-pane label="CLASSES" name="classes">
                    <span slot="label"><i class="zmdi zmdi-shape mr5"></i>CLASSES</span>
                    <div v-if="data.classes.length === 0">Model does not produce classes</div>
                    <div v-if="data.classes.length > 0">
                        <div class="mb10">Choose model classes that should be kept, other classes will be skipped</div>
                        <div class="fflex">
                            <el-button type="text" size="mini" @click="command('select_all_classes');">
                                <i class="zmdi zmdi-check-all"></i> Select all
                            </el-button>
                            <el-button type="text" size="mini" @click="command('deselect_all_classes');"
                                       style="margin-left: 25px;">
                                <i class="zmdi zmdi-square-o"></i> Deselect all
                            </el-button>
                        </div>
                        <table>
                            <tbody>
                            <tr v-for="(objClass, index) in data.classes">
                                <td>
                                    <el-checkbox class="small" v-model="state.classes[index]"></el-checkbox>
                                </td>
                                <td><i class="zmdi zmdi-circle ml5 mr5" :style="{color: objClass.color}"></i></td>
                                <td><b style="color: #777777">{{objClass.title}}</b></td>
                                <td><span class="ml5">{{objClass.shape}}</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="TAGS" name="tags">
                    <span slot="label"><i class="zmdi zmdi-label mr5"></i>TAGS</span>
                    <div v-if="data.tags.length === 0">Model does not produce tags</div>
                    <div v-if="data.tags.length > 0">
                        <div class="mb10">Choose model tags that should be kept, other tags will be skipped</div>
                        <div class="fflex">
                            <el-button type="text" size="mini" @click="command('select_all_tags');">
                                <i class="zmdi zmdi-check-all"></i> Select all
                            </el-button>
                            <el-button type="text" size="mini" @click="command('deselect_all_tags');"
                                       style="margin-left: 25px;">
                                <i class="zmdi zmdi-square-o"></i> Deselect all
                            </el-button>
                        </div>
                        <table>
                            <tbody>
                            <tr v-for="(tagMeta, index) in data.tags">
                                <td>
                                    <el-checkbox class="small" v-model="state.tags[index]"></el-checkbox>
                                </td>
                                <td><i class="zmdi zmdi-label ml5 mr5" :style="{color: tagMeta.color}"></i></td>
                                <td><b style="color: #777777">{{tagMeta.name}}</b></td>
                                <td><span class="ml5">{{tagMeta['value_type']}}</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="INFERENCE" name="inference">
                    <span slot="label"><i class="zmdi zmdi-settings mr5"></i></i>INFERENCE</span>
                    <div class="mb15">
                        <div><b>Class/tag name suffix</b></div>
                        <div>Add suffix to model class/tag name if it has conflicts with existing one</div>
                        <el-input placeholder="Please input" size="mini" v-model="state.suffix"></el-input>
                    </div>

                    <div class="mb15">
                        <div><b>How to add predictions</b></div>
                        <el-select v-model="state.addMode" size="mini">
                            <el-option key="merge" label="merge" value="merge"></el-option>
                            <el-option key="replace" label="replace" value="replace"></el-option>
                        </el-select>
                    </div>


                    <sly-field title="Settings"
                               description="Model specific inference settings in YAML format">
                        <sly-editor v-model="state.settings"
                                    :options="{height: '200px', mode: 'ace/mode/yaml'}"></sly-editor>
                    </sly-field>
                </el-tab-pane>
            </el-tabs>
        </div>
    </div>
</div>